@page
@model BulkyProject_Razor.Pages.Categories.EditModel
 
<form method="post">
    <input asp-for="category.id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary border-bottom border-2">Edit Category</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="category.Name"></label>
            <input asp-for="category.Name" class="form-control" />
            <span asp-validation-for="category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="category.DisplayOrder"></label>
            <input asp-for="category.DisplayOrder" class="form-control" />
            <span asp-validation-for="category.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row text-center">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Edit</button>
            </div>
            <div class="col-6">
                <a asp-page="/Categories/Index" class="btn btn-outline-secondary border form-control">
                    Back to list
                </a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}